<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url "Main:main" %}"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="margin-left: 150px" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'main' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'Main:main' %}">Home
                        </a>
                    </li>
                    <li class="nav-item{% if request.resolver_match.url_name == 'about_us' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'Main:about_us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.url_name == 'posts' %} active{% endif %}"
                           href="{% url 'post:posts' %}">Blog Entries</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.url_name == 'contact_us' %} active{% endif %}"
                           href="{% url 'Main:contact_us' %}">Contact Us</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item{% if request.resolver_match.url_name == 'logout' %} active{% endif %}">
                            <a class="nav-link" href="{% url 'Account:logout' %}">Logout</a>
                        </li>

                        <li class="nav-item{% if request.resolver_match.url_name == 'profile' %} active{% endif %}">
                            <a class="nav-link" href="{% url 'Account:profile' request.user.id %}">My Profile</a>
                        </li>
                    {% else %}
                        <li class="nav-item{% if request.resolver_match.url_name == 'login' %} active{% endif %}">
                            <a class="nav-link" href="{% url 'Account:login' %}">login</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>